{% for action in actions %}
    {% set attributes %}
        {% for name, attributeValues in action.attributes %}
            {{ name }}="{{ attributeValues|join(' ') }}" 
        {% endfor %}
    {% endset %}

    {% set actionContent %}
        {% if action.icon is not null %}
            <i class="{{ action.icon }}"></i>
        {% endif %}
        {{ action.label }}
    {% endset %}

    {% if action.type == constant('LINK', action) %}
        <a {{ attributes }} href="{{ path(action.route, action.routeParameters) }}">
            {{ actionContent }}
        </a>
    {#So far, if not link, it's a form #}
    {% else %}
        <form action="{{ path(action.route, action.routeParameters|default([])) }}" method="{% if(action.method is defined and action.method != "") %}{{ action.method }}{% else %}POST{% endif %}" class="action">
            {% for parameter, value in action.formParameters %}
                <input type="hidden" id="{{ parameter }}" name="{{ parameter }}" value="{{ value }}" />
            {% endfor %}
            <button type="submit" {{ attributes }}>
                {{ actionContent }}
            </button>
        </form>
    {% endif %}
{% endfor %}