{% if pagination is defined and pagination is not empty and pagination.totalPageCount > 1 %}
    <div class="pagination">
        <div class="pagination-buttons">
            {% if pagination.page > 1 %}
                {% set prevLink = (pagination.page == 1 ? "#" : path(pagination.route, pagination.routeParameters|merge({'page': pagination.page-1}))) %}
                <a href="{{ path(pagination.route, pagination.routeParameters|merge({'page': 1})) }}"><<</a>
                <a href="{{ prevLink }}"><</a>
            {% endif %}
            {#display p numbers only from p-4 to p+4 but don't go <1 or >pages_count#}
            {% for p in range(max(pagination.page - 4, 1), min(pagination.page + 4, pagination.totalPageCount)) %}
                <a{% if p == pagination.page %} class="current-page"{% endif %} href="{{ path(pagination.route, pagination.routeParameters|merge({'page': p})) }}">{{ p }}</a>
            {% endfor %}
            {% if pagination.page < pagination.totalPageCount %}
                {% set nextLink = (pagination.page < pagination.totalPageCount ? path(pagination.route, pagination.routeParameters|merge({'page': pagination.page+1})) : "#") %}
                <a href="{{ nextLink }}">></a>
                <a href="{{ path(pagination.route, pagination.routeParameters|merge({'page': pagination.totalPageCount})) }}">>></a>
            {% endif %}
        </div>
    </div>
{% endif %}